<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764438077599-3e3ahhf62e3iv4uh27g6tg4q1mbm8rov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764438077599-3e3ahhf62e3iv4uh27g6tg4q1mbm8rov</string>
	<key>API_KEY</key>
	<string>AIzaSyCnzZc5_glhssU9wMb_87hoj-048VMTG2k</string>
	<key>GCM_SENDER_ID</key>
	<string>764438077599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IanH411.RunM8</string>
	<key>PROJECT_ID</key>
	<string>runm8-a2d91</string>
	<key>STORAGE_BUCKET</key>
	<string>runm8-a2d91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764438077599:ios:2c5eab61878d36306e42aa</string>
	<key>DATABASE_URL</key>
	<string>https://runm8-a2d91.firebaseio.com</string>
</dict>
</plist>